<ion-header>
  <ion-navbar>
    <ion-title>
      Sua escolha  
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-item-group>
        <ion-item-divider color='light'>
          <ion-icon ios='ios-car' md='md-car' item-left></ion-icon>
          VEÍCULO
        </ion-item-divider>
        <ion-item>
          <ion-label>
            <h2>{{ carro.nome }}</h2> 
            <h3>{{ precoFormatado(carro.preco) }}</h3> 
          </ion-label>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color='light'>
          <ion-icon ios='ios-options' md='md-options' item-left></ion-icon>
          ACESSÓRIOS
        </ion-item-divider>
        <ion-item *ngFor='let acessorio of acessorios'>
          <ion-label>
            <h2>{{ acessorio.nome }}</h2>
            <h3>{{ precoFormatado(acessorio.preco) }}</h3>
          </ion-label>
          <ion-toggle 
            #toggle 
            color='secondary' 
            (ionChange)='atualizaAcessorio(acessorio, toggle.checked)'>
          </ion-toggle>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color='light'>
        <ion-icon ios='ios-pricetag' md='md-pricetag' item-left></ion-icon>
          Total: {{precoFormatado(precoTotal)}}
        </ion-item-divider>
      </ion-item-group>
    </ion-card-content>
  </ion-card>
  <button ion-button block (click)='avancarAgendamento()'>Avançar</button>
</ion-content>
