<ion-header>
    <ion-navbar>
        <ion-title>Estamos quase lá!</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>{{ carro.nome }}</h2>
    <p>{{ precoFormatado(precoTotal) }}</p>
    <form>
        <ion-item>
            <ion-label stacked>Nome:</ion-label>
            <ion-input [(ngModel)]='agendamento.nome' name='nome'></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Endereço:</ion-label>
            <ion-input [(ngModel)]='agendamento.endereco' name='endereco'></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>E-mail:</ion-label>
            <ion-input [(ngModel)]='agendamento.email' type='email' name='email'></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Telefone:</ion-label>
            <ion-input [(ngModel)]='agendamento.telefone' type='tel' name='telefone'></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Data do agendamento:</ion-label>
            <ion-datetime [(ngModel)]='agendamento.data' name='data' displayFormat='DD/MM/YYYY'></ion-datetime>
        </ion-item>
        <button ion-button block type='submit' (click)='agendarTestDrive()'>Finalizar agendamento</button>
    </form>
</ion-content>