<ion-header>
  <ion-navbar>
    <ion-title>
      aluraCar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor='let carro of carros' (click)='seleciona(carro)'>
      <h2>{{carro.nome}}</h2>
      <h3>{{precoFormatado(carro.preco)}}</h3>
      <h6 align='right'>Disponível</h6>
    </ion-item>
  </ion-list>
</ion-content>
